{% extends "base.min.html" %}

{% block title %} Wifi QR Code Generator {% endblock %}

{% block content %}

<main>
  <article>
    <h1 id="heading">Generate a QR Code for your Wifi!!</h1>
    <form action="{{ url_for('result') }}" method="POST">
      <!-- SSID Field -->
      <div>
        <span class="input-heading">SSID:</span> <br>
        <input type="text" name="ssid" class="input" required placeholder="eg. MyWifi, HomeWIfi">
      </div>
      <!-- Encryption Field -->
      <div>
        <span class="input-heading"><label for="encryption">Encryption:</label></span><br><br>
        <select name="encryption" id="encryption">
          <option value="WPA">WPA/WPA2</option>
          <option value="WEP">WEP</option>
          <option value="">None</option>
        </select>
      </div>
      <!-- Password Field -->
      <div id="password">
        <span class="input-heading">Password:</span> <br>
        <input type="password" name="password" class="input" required placeholder="eg. MyPassword, 12345"><br>
      </div>
      <!-- Hidden Field -->
      <input type="checkbox" name="hidden" id="hidden">
      <label for="hidden">Hidden</label><br>
      <button type="submit" id="submit">Generate</button>
      </div>
    </form>
  </article>
</main>

{% endblock %}