<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="D1qupzu3rIoPk9ahNP7wcGUv7a7ZGNSEEMK_tHleH_c">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JR5WCRDLNZ"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-JR5WCRDLNZ');
  </script>
  
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  
  <title>{% block title %}{% endblock title %}</title>
</head>

<body style='background-color:rgb(255, 255, 255);'>
  {% block content %}{% endblock %}
</body>

</html>